<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio 2022</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- HEADER -->
    <header>
        <a href="#">
            <h3>freelance portfolio</h3>
        </a>
        <button>
            menu <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="contenedor-menu">
            <ul>
                <li>
                    <a href="#portfolio">portfolio</a>
                    <hr>
                </li>
                <li>
                    <a href="#about">about</a>
                    <hr>
                </li>
                <li>
                    <a href="#contact">contact</a>
                    <hr>
                </li>
            </ul>
        </nav>

    </header>
    <!-- MAIN -->
    <main class="portfolio">
        <!-- FREELANCE -->
        <section class="contenedor-freelance">
            <figure>
                <img src="/img/profile.png" alt="profile">
            </figure>
            <h1>freelance <span>portfolio</span></h1>
            <div class="contenedor-icono">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <p>Web Developer - Graphic Artist - User Experience Designer</p>
        </section>
        <!-- IMAGENES-->
        <section class="container-img">
            <h2>portfolio</h2>
            <div class="contenedor-icono">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <div class="contenedor-imgs">
                <figure>
                    <img src="/img/cabin.png" alt="cabin">
                </figure>
                <figure>
                    <img src="/img/cake.png" alt="cake">
                </figure>
                <figure>
                    <img src="/img/circus.png" alt="circus">
                </figure>
                <figure>
                    <img src="/img/game.png" alt="game">
                </figure>
                <figure>
                    <img src="/img/safe.png" alt="safe">
                </figure>
                <figure>
                    <img src="/img/submarine.png" alt="submarine">
                </figure>
            </div>
        </section>
        <!-- ABOUT -->
        <section class="container-about">
            <h2>about</h2>
            <div class="contenedor-icono">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <article>
                <p>Freelance is a free landing page theme created for free use. The download includes the complete
                    source files including HTML, CSS, and JavaScript as weel as optional SASS stylesheets for easy
                    customization</p>
                <p>Whether you're a student looking to showcase your work, a professional looking to attact clients, or
                    a graphic artist looking to share your projects, this template is the perferct starting point!</p>
            </article>
            <a href=""><i class="fas fa-download"></i> Download Now!</a>
        </section>
        <!-- CONTACTO -->
        <section class="contenedor-contacto">
            <h2>contact me</h2>
            <div class="contenedor-icono">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>

            <form action="/" method="POST">

                <div class="contenedor-label">
                    <label for="">Name</label>
                    <input type="text" class="">
                </div>

                <div class="contenedor-label">
                    <label for="">Email Address</label>
                    <input type="email" class="">
                </div>

                <div class="contenedor-label">
                    <label for="">Phone Number</label>
                    <input type="tel" class="">
                </div>

                <div class="contenedor-label">
                    <label for="">Message</label>
                    <textarea class=""></textarea>
                </div>

                <div class="contenedor-label">
                    <div class="btn">
                        <button>Send</button>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <!-- FOOTER -->
    <footer>
        <section class="container-footer">

            <!-- LOCATION -->
            <article class="location">
                <h3>location</h3>
                <p>2215 Jhon Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </article>

            <!-- REDES -->
            <article class="redes">
                <h3>around the web</h3>
                <div class="redes-icon">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                    <a href=""><i class="fas fa-basketball-ball"></i></a>
                </div>
            </article>

            <!-- ABOUT -->
            <article class="about-footer">
                <h3>about freelancer</h3>
                <p>Freelance is free and open souce landing page theme created to <span>your free personal use</span>.
                </p>
            </article>

        </section>

        <!-- COPY -->
        <section class="copy">
            <p>Copyright<i class="fa fa-copyright"></i> Your Website 2023</p>
        </section>

    </footer>
    <script src="/js/home.js"></script>
</body>

</html>