* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --colorAzul : #2C3E50;
	--colorVerde : #18BC9C;
    --familyTitles : 'Montserrat'
}

body {
    width: 100%;
    font-family: Lato;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--familyTitles);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

hr {
    width: 40%;
}